---
default_install_hook_types: [pre-commit, pre-push]
default_stages: [pre-commit, manual]
minimum_pre_commit_version: 3.5.0
repos:
  - repo: https://github.com/executablebooks/mdformat
    # Do this before other tools "fixing" the line endings
    rev: 0.7.22
    hooks:
      - id: mdformat
        name: Format Markdown
        entry: mdformat # Executable to run, with fixed options
        language: python
        types: [markdown]
        args: [--wrap, '80', --number]
        additional_dependencies:
          - mdformat-toc
          - mdformat-tables
          - mdformat-config
          - mdformat-web
          - mdformat-gfm

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: fix-byte-order-marker
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^.idea/.*$
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-xml
      - id: check-yaml
      - id: check-added-large-files
      - id: forbid-new-submodules
      - id: check-json
        exclude: ^.vscode/.*$
      - id: file-contents-sorter
        files: .cspell/.*\.txt
        args: [--ignore-case]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --dictionary
          - '-'
          - --dictionary
          - .cspell/codespellrc-dic.txt
          - --ignore-words
          - .cspell/codespellrc-ignore.txt
          - --quiet-level
          - '2'
          - --interactive
          - '0'
          - --check-filenames
          - --check-hidden
          - --write-changes
        exclude: >
          (?x)(
            ^.cspell/codespellrc-.*.txt$
          )

  - repo: https://github.com/fchastanet/jumanjihouse-pre-commit-hooks
    rev: 3.0.2
    hooks:
      # Check both committed and uncommitted files for git conflict
      # markers and whitespace errors according to core.whitespace
      # and conflict-marker-size configuration in a git repo.
      - id: git-check

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: [--fix]

  - repo: https://github.com/ComPWA/prettier-pre-commit
    rev: v3.4.2
    hooks:
      - id: prettier
        args: [--cache]
        exclude: |
          (?x)(
            \.md$|
            ^\.vscode/.*\.code-snippets$
          )

  # manual stage used to select github action with megalinter full config
  - repo: https://github.com/fchastanet/bash-tools-framework
    rev: 6.2.2
    hooks:
      - id: plantuml
      - id: megalinterCheckVersion
