<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : {{ if .IsHome }}"WebSite"{{ else }}"BlogPosting"{{ end }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Site.BaseURL }}"
  },
  {{if .Section -}}"articleSection" : "{{ .Section }}",{{ end }}
  "name" : "{{ .Title }}",
  "headline" : "{{ .Title }}",
  "description" : "{{ partial "page-description.html" . }}",
  "inLanguage" : "en-US",
  "author" : "{{ .Site.Params.Author }}",
  "creator" : "{{ .Site.Params.Author }}",
  "publisher": "{{ .Site.Params.Author }}",
  "accountablePerson" : "{{ .Site.Params.Author }}",
  "copyrightHolder" : "{{ .Site.Params.Author }}",
  "copyrightYear" : "{{ .Date.Format "2006" }}",
  "datePublished": "{{ .Date }}",
  "dateModified" : "{{ .Lastmod }}",
  "url" : "{{ .Permalink }}",
  "wordCount" : "{{ .WordCount }}",
  "keywords" : [
    {{ if isset .Params "tags" -}}
      {{ range .Params.tags -}}
        "{{ . }}",
      {{ end -}}
    {{ else -}}
      {{ with .Site.Params.keywords -}}
        {{ if reflect.IsSlice . -}}
          {{ range . }}"{{ . }}",{{ end }}
        {{ else -}}
          {{ range (split . ",") }}"{{ . }}",{{ end -}}
        {{ end -}}
      {{ end -}}
    {{ end -}}
    "Blog"
  ]
}
</script>
